.addCategory {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.addCategory .header {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #e4e4e4;
}

.header h3 {
  margin: 1rem 0;
  font-weight: 500;
}

.header button {
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  background-color: #0183ff;
  color: white;
  font-size: 1rem;
  border-radius: 0.2rem;
  margin: 0.5rem 0;
}

.addCategory .addCategoryForm {
  height: 80vh;
  padding: 0.5rem 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  overflow-y: scroll;
}

.addCategoryForm .error {
  background-color: rgb(252, 235, 235);
  border-radius: 0.2rem;
  width: 100%;
  padding: 1rem;
  text-align: left;
  background-color: #ffebee;
  color: #d32f2f;
}

.addCategoryForm form {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form .inputDiv {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.inputDiv input,
select {
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  border: 1px solid rgb(228, 227, 227);
  border-radius: 0.2rem;
  font-size: 1rem;
  background-color: transparent;
}

input[type="checkbox"] {
  padding: 2rem 1rem;
}

/* .inputDiv select{
  overflow-y:auto;
} */

.inputDiv input:focus,
select:focus {
  border: 1px solid #0183ff;
}

form button {
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  background-color: #0183ff;
  color: white;
  /* font-size: 0.9rem; */
  border-radius: 0.2rem;
  margin-top: 1rem;
}

::placeholder {
  color: grey;
  opacity: 1;
  font-size: 1rem;
}

.customField{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  border-radius: 0.2rem;
  padding: 1rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid #0183ff; 
  border-radius: 4px;
  outline: none; 
  margin: 0.5rem;
}

input[type="checkbox"]:checked {
  background-color: #0183ff; 
}


.customField i{
  font-size: 2rem;
  color: red;
  padding: 0.5rem;
}

.custFieldBtn{
  background-color: green;
}


