.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    background-color: #0183ff;
    color: white;
    position: sticky;
    top: 0;
    left: 0;
    height: 4rem;
}

.navbar .logo{
    padding: 0 1rem;
    display: flex;
    align-items: center;
    width: 270px;
}

.logo h3{
    font-size: 1.3rem;
    font-weight: 500;
}

.logo i{
    margin: 0rem 0.5rem;
    font-size: 1.3rem;
}

.navbar .middle{
    width: 100%;
}

.navbar .nav{
    display: flex;
    gap: 1rem;
    width: fit-content;
    padding: 0rem 1rem;
    justify-content: flex-end;
    align-items: center;
}

.nav ul{
    width: 100%;
    list-style-type: none;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    font-weight: 400;
}

.nav h4{
    font-size: 1.1rem;
    white-space: nowrap;
    font-weight: 400;
}

.nav button{
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 0.2rem;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 1rem;
}