.main{
    width: 100%;
    min-height: 91vh;
    display: flex;
}

.main .right{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.right h3{
    margin: 1rem 0;
    font-weight: 500;
}

