.employees{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.employees .header{
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #e4e4e4;
    position: sticky;
    top: 4rem;
    z-index: 30;
    background-color: white;
}

.header h3{
    font-weight: 500;
}

.employees .noItem{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.noItem img{
    height: 30rem;
    width: 30rem;
}
