.inventory {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inventory .header {
  padding: 0.2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #e4e4e4;
  width: 100%;
  background-color: white;
}

.header h3 {
  font-weight: 500;
}

.header button {
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  background-color: #0183ff;
  color: white;
  font-size: 1rem;
  border-radius: 0.2rem;
  margin: 0.5rem 0;
}

.inventory .filter {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0.2rem 1rem;
}

.filter select {
  width: 20%;
}

.filter option::selection {
  background-color: yellow;
}

/* categoryTable.css */
.inventory .inventory_table_container {
  padding: 0.5rem 1rem;
  width: 90%;
  margin: 0rem auto;
  margin-bottom: 2rem;
  font-size: 1rem;
}

.inventory_table {
  width: 100%;
  border-collapse: collapse;
}

.inventory_table th,
.inventory_table td {
  border: 1px solid #ddd;
  padding: 0.8rem;
  text-align: left;
  font-size: 1rem;
}

.inventory_table th {
  padding: 1rem;
  background-color: #f2f2f2;
}

.inventory_table tbody tr:hover {
  background-color: #f5f5f5;
}

.actions {
  height: 100%;
  display: flex;
  gap: 0.5rem;
}

.actions button .icon{
  font-size: 1.1rem;
  font-weight: 500;
}

.actions button {
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  border-radius: 0.2rem;
  color: white;
  font-size: 1rem;
  background-color: #0183ff;
}

.actions button:disabled {
  background-color: gray;
  color: white; 
  cursor: not-allowed; 
  opacity: 0.6; 
}

.actions .update {
  background-color: #e58d11;
}

.actions .delete {
  background-color: red;
}

.actions .checkout {
  background-color: #d81b60;
}

.actions .checkin {
  background-color: purple;
}

.userList{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.userList li{
  list-style-type: none;
}

li span{
  font-weight: bold;
}

.itemImage{
  height: 8rem;
  width: 8rem;
  padding: 1rem;
}




