.main{
    width: 100%;
    min-height: 91vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


form{
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 0.5rem;
}

form .heading{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin-bottom: 1rem;
}

form .inputDiv{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


form input{
    padding: 0.7rem 1rem;
    outline: none;
    border: none;
    border: 1px solid rgb(228, 227, 227);
    border-radius: 0.2rem;
}

input:focus{
    border: 1px solid #0183ff;
}

form button{
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    background-color: #0183ff;
    color: white;
    font-size: 1.1rem;
    border-radius: 0.2rem;
    margin: 0.5rem 0;
}

::placeholder {
    color: grey;
    opacity: 1; 
    font-size: 1rem;
}